<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Map viewport</title>
  <script type="text/javascript">
  	var fusion_table = '{{FUSIONTABLES_TABLE_ID}}';
	var api_key 	 = '{{API_KEY}}'; 
  </script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="/static/js/gmaps.min.js"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <link rel="stylesheet" href="/static/css/semantic.min.css" />
  <link rel="stylesheet" href="/static/css/example.css" />
  <script src="/static/js/semantic.min.js"></script>
  <script src="/static/js/example.js"></script>


</head>
<body>
	<div class="ui form">
	<div id="map"></div>
	<table id="address-table" class='ui celled striped table' >
		<thead>
		<tr>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Address</th>
		</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="3" >
					<button class="ui button" onclick="clear_db();">
						<i class="trash outline icon"></i>
						Clear addresses
					</button>
					<a class="ui button" href="https://fusiontables.google.com/DataSource?docid=1yHqpxCDuLeBz-y0KnYP_08SP_oZxHK6ETaDltaA4" target="_blank" >
						<i class="table icon"></i>
						Jump to fusion table
					</a>
				</th>
			</tr>
		</tfoot>
	</table>
	</div>
	
	
</body>
</html>